<!--<head>-->


<body>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/vis.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/my_concepts.js"></script>

<link href="{{ site.baseurl }}/assets/css/vis.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        #mynetwork {
            height: 300px;
            border: double;
						pad:0.5px;
            margin-right: 20px;
            margin-left: 20px;
        }
        #nav-descript {
            display: none;
        }
    </style>


<script type="text/javascript">
function hideshow(){
  var x = document.getElementById("nav-descript");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
<h1 class="page-heading">Posts</h1>

<button type="button" class="btn btn-primary" onclick="hideshow()">Toggle Navigation</button>

<div id="nav-descript" class="container-fluid", style="max-width:900px;">
      The interactive display below provides a graphical overview and navigation. Each node(circle) represents a post and links are drawn between posts if they belong to the same category.
      <br><br>
      Actions:
      <li> Click on the link to see the category. </li>
      <li> Mouseover the post to see the post title. </li>
      <li> Click on the node to navigate to the post. </li>
      <br><br>

<div id="mynetwork", class="container-fluid", style="max-width: 500px;"></div>
</div>

<script type="text/javascript">
    
    var nodes = [];
    var i = 0;

    {% for post in site.posts %}
      var categories = [];
      {% for category in post.categories %}
        categories.push("{{category}}");
      {% endfor %}
      
      
      nodes.push({id: i, shape: "{{post.shape}}", label:i, title: "{{post.title}}", url: '{{ site.baseurl }}{{ post.url}}' , category: categories});
      i = i+1;
    {% endfor %}

    edges =  generateEdges(nodes);

    var nodes = new vis.DataSet(nodes);
    var edges = new vis.DataSet(edges);

    // create a network
    var container = document.getElementById('mynetwork');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };

    var options={
      interaction:{
        zoomView: true,
        hoverConnectedEdges: true
      }
    }
    

    // initialize your network!
    var network = new vis.Network(container, data, options);
    network.setOptions(options);
    

    network.on("selectNode", function (params) {
      if (params.nodes.length === 1) {
        var node = nodes.get(params.nodes[0]);
        window.open(node.url, '_blank');
       }
    });

</script>

</body>

