<div class="pdf-container">
  <iframe class="pdf-viewer" 
          src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/web/viewer.html?file={{ include.pdf_url | absolute_url }}#zoom=page-fit" 
          width="100%" 
          height="600px" 
          style="border: none;">
  </iframe>
</div>

<style>
  .pdf-container {
    width: 100%;
    overflow: hidden;
    margin: 20px 0;
  }
  
  .pdf-viewer {
    width: 100%;
    height: 600px;
  }
  
  @media (max-width: 768px) {
    .pdf-viewer {
      height: 500px;
    }
  }
  
  @media (max-width: 480px) {
    .pdf-viewer {
      height: 400px;
    }
  }
</style>
