<!--<head>-->


<body>

<link href="{{ site.baseurl }}/assets/css/vis.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        #slideshow {
            height: 300px;
            border: double;
						pad:0.5px;
            width: 100%;
        }

    </style>

  <iframe id="slideshow" src="https://docs.google.com/presentation/d/e/2PACX-1vQ0cesjknOpkAfD3Jq0v0ogNd_DtRP2t7-F7B_OWieuuJqF4NbcCGGb0sQWHVQqxdd7KnwG0D4PwLDK/embed?start=false&loop=false&delayms=5000" frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

</body>

