---
layout: default
---


<head>
  <link rel="stylesheet" type="text/css" href="{{ site.styles }}boot.css"/>
</head>
<body>
  <div class="home">
    <h1 class="page-heading">Posts</h1>
      The interactive display below provides a graphical overview and navigation for the
      content in this blog. Each node(circle) represents a post and links are drawn between
      posts if they belong to the same category.
      <br><br>
      Actions:
      <li> Click on the link to see the category. </li>
      <li> Mouseover the post to see the post title. </li>
      <li> Click on the node to navigate to the post. </li>
      
      

      <br><br>

    {% include nav_graph.html %}

    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2> 
          {% assign statuses = post.status %}
          
          {% for status in statuses %}

            {% if status == "Hackathon" %}
              <span class="label label-warning">{{status}}</span>
          
              {% elsif status == "Under construction" %}
                <span class="label label-default">{{status}}</span>
          
              {% elsif status == "Instructional" %}
                <span class="label label-info">{{status}}</span>
            
              {% elsif status == "Code samples" %}
                <span class="label label-success">{{status}}</span>
            
              {% else %}
                <span class="label label-primary">{{status}}</span>
            
            {% endif %}
          {% endfor %}
        </li>
      {% endfor %}

    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

  </div>
</body>
